<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace = "partials :: head('Home')" />
<body>
<nav th:replace="partials::navbar"/>
<div class="uk-grid uk-margin-auto">
    <div class="uk-grid uk-text-center uk-width-1-1">
        <div class="uk-child-width-expand uk-margin-auto">

            <a href="/search"><button class="uk-button uk-button-primary uk-animation-slide-left">Search pets/shelters/programs</button></a>
        </div>
        <div class="uk-child-width-expand uk-margin-auto">
            <a href="/adopter/preferences"><button class="uk-button uk-button-primary uk-animation-slide-right">Preferences</button></a>
        </div>
    </div>
</div>

<hr/>

<div class="uk-child-width-1-2@l uk-grid uk-grid-divider uk-child-width-1-2@s">

    <div class="uk-text-center">
        <div class="uk-card uk-card-default uk-card-body uk-margin-left uk-box-shadow-xlarge uk-animation-slide-left">
        <h4 class="uk-margin-auto"><u>Programs in your area</u></h4>
            <table class="uk-table uk-table-striped">
                <tr>
                    <th class="uk-text-center">Name</th>
                    <th class="uk-text-center">Description</th>
                    <th class="uk-text-center">Length</th>
                    <th class="uk-text-center">Sign-up</th>
                </tr>

                <div th:each="program : ${programs}">
                    <tr>
                        <td th:text="${program.name}"></td>
                        <td th:text="${program.description}"></td>
                        <td th:text="${program.length}"></td>
                        <td>
                            <div th:if="${progs.contains(program)}">
                                <input disabled="disabled" data-th-attr="programId = ${program.id}" type="submit" value="SUBMITTED" class="uk-button uk-button-primary program-signup" onclick="UIkit.notification({message: 'Signed Up To Program...', pos: 'top-center', status: 'success', timeout: 2000})"/>
                            </div>
                            <div th:unless="${progs.contains(program)}">
                                <input data-th-attr="programId = ${program.id}" type="submit" class="uk-button uk-button-primary program-signup" onclick="UIkit.notification({message: 'Signed Up To Program...', pos: 'top-center', status: 'success', timeout: 2000})"/>
                            </div>
                        </td>
                    </tr>
                </div>
            </table>
        </div>
    </div>
    <div class="uk-text-center">
        <div class="uk-card uk-card-default uk-card-body uk-margin-right uk-box-shadow-xlarge uk-animation-slide-right">
        <h4><u>Volunteer Opportunities</u></h4>
            <table class="uk-table uk-table-striped">
                <tr>
                    <th class="uk-text-center">Shelter Name</th>
                    <th class="uk-text-center">Date</th>
                    <th class="uk-text-center">Time</th>
                    <th class="uk-text-center">Register</th>
                </tr>
                <div th:each="volunteer : ${volunteers}">
                        <tr>
                            <td>
                                <span th:text="${volunteer.getShelter().name}"></span>
                            </td>
                            <td>
                                <span th:text="${volunteer.date}"></span>
                            </td>
                            <td>
                                <span th:text="${volunteer.time}"></span>
                            </td>
                            <td>
                                <div th:if="${vols.contains(volunteer)}">
                                    <form>
                                        <input disabled="disabled" class="uk-button uk-button-primary volunteer-signup" value="SUBMITTED" data-th-attr="volId = ${volunteer.id}" type="submit" onclick="UIkit.notification({message: 'Signed Up To Program...', pos: 'top-center', status: 'success', timeout: 2000})"/>
                                    </form>
                                </div>
                                <div th:unless="${vols.contains(volunteer)}">
                                    <form>
                                        <input class="uk-button uk-button-primary volunteer-signup" data-th-attr="volId = ${volunteer.id}" type="submit" onclick="UIkit.notification({message: 'Signed Up To Program...', pos: 'top-center', status: 'success', timeout: 2000})"/>
                                    </form>
                                </div>
                            </td>
                        </tr>
                </div>
            </table>
        </div>
    </div>
</div>


<div th:replace="partials :: scripts"/>
<script th:src="@{js/jquery.js}"></script>
<script th:inline="javascript">
    "use strict";

    // For Programs
    $(".program-signup").on("click", function (e) {
        var progId = $(this).attr("programId");
      $.post({
          url: "/home",
          data: {
              "id" : progId,
              "type" : "program"
          }

      });
      $(this).attr("value", "Registered");
      $(this).attr("disabled", true);
    })

    // For Volunteer
    $(".volunteer-signup").on("click", function (e) {
        var volId = $(this).attr("volId");
        $.post({
            url: "/home",
            data: {
                "id" : volId,
                "type" : "volunteer"
            }

        });
        $(this).attr("value", "Registered");
        $(this).attr("disabled", true);
    })
</script>
<footer th:replace="partials :: footer"/>
</body>
</html>