<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace = "partials :: head('Home')" />
<body>
<nav style="background-color: #CCCCFF" class="uk-navbar-container uk-margin" uk-navbar="mode: click">
    <div class="uk-navbar-center">

        <div><div>
            <ul class="uk-navbar-nav">
                <li><a href="/adopter/pets">View all pets</a></li>
            </ul>
        </div></div>
        <a class="uk-navbar-item uk-logo" href="#">Pet-tential</a>
        <div class="uk-navbar-right"><div>
            <ul class="uk-navbar-nav">
                <li><a href="/logout">Logout</a></li>
                <li><a href="/user_info">Profile</a></li>
            </ul>
        </div></div>

    </div>
</nav>

    <div class="uk-grid-divider uk-child-width-1-2 uk-grid uk-grid-match">

               <div>
                   <table class="uk-table uk-table-striped">
                       <caption class="uk-margin-auto"><h4>Programs in your area</h4></caption>
                       <thead>
                           <tr class="card-body">
                               <th>Name</th>
                               <th>Description</th>
                               <th>Length</th>
                               <th>Sign-up</th>
                           </tr>
                       </thead>
                       <tbody th:each="program : ${programs}">
                           <tr>
                               <td th:text="${program.name}"></td>
                               <td th:text="${program.description}"></td>
                               <td th:text="${program.length}"></td>
                               <td><button type="submit" th:action="'adopter/program/' + ${program.id}">More info</button></td>
                           </tr>
                       </tbody>
                   </table>
               </div>


            <div>
                <div class="uk-flex">
                    <div style="margin-left: 15vh;" class="uk-margin-auto-vertical">
                        <div class="uk-margin-auto uk-margin-bottom"><a href="/search"><button class="uk-margin-auto uk-width-auto uk-button uk-button-primary">Search pets/shelters/programs</button></a></div>
                        <div class="uk-margin-auto"><a href="/adopter/preferences"><button class="uk-margin-auto uk-width-auto uk-button uk-button-primary">Preferences</button></a></div>
                    </div>
                </div>
            </div>

    </div>

<footer th:replace="partials :: footer"/>
<div th:replace="partials :: scripts"/>
</body>
</html>