<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace = "partials :: head('Pets')"/>
<body>

<div class="container uk-margin-bottom">
    <nav th:replace="partials::navbar"/>
</div>

<div class="uk-container">
<h1 class="uk-margin-top">List of Pets</h1>

    <div class="uk-child-width-1-2@m uk-grid" uk-grid="masonry:true">
        <div th:each="pet : ${pets}">
            <div class="uk-card uk-card-hover" th:if="${pet.name.equals('deleted') == false}">
                <div class="uk-card-body">
                    <a th:href="'/adopter/pet/' + ${pet.id}"><img th:src="${pet.picture}" class="uk-card-media-top" alt="Pet Image"/></a>

                    <div class="uk-margin">
                        <div class="uk-card-media-top uk-width-auto">
                            <label for="name">Name</label>
                            <p id="name" th:text="${pet.name}"></p>
                        </div>
                        <div class="uk-card-media-top uk-width-auto">
                            <label for="description">Description</label>
                            <p id="description" th:text="${pet.description}"></p>
                            <div th:if="${user.isShelter}">
                                <form th:action="'/pet/delete/' + ${pet.id}" method="POST">
                                    <button type="submit" class="uk-margin-small-right" uk-icon="minus">Delete Pet</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<div th:replace="partials::scripts" />

<hr/>
<footer th:replace="partials::footer"/>

</body>
</html>