<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace = "partials :: head('Pets')"/>
<body>

<div class="container uk-margin-bottom">
    <nav style="background-color: #CCCCFF" class="uk-navbar-container uk-margin" uk-navbar="mode: click">
        <div class="uk-navbar-center">

            <div><div>
                <ul class="uk-navbar-nav">
                    <li><a href="/adopter/pets">View all pets</a></li>
                </ul>
            </div></div>
            <a class="uk-navbar-item uk-logo" href="#">Pet-tential</a>
            <div class="uk-navbar-right"><div>
                <ul class="uk-navbar-nav">
                    <li><a href="/logout">Logout</a></li>
                    <li><a href="/user_info">Profile</a></li>
                </ul>
            </div></div>

        </div>
    </nav>
</div>

<div class="uk-container">
<h1 class="uk-margin-top">List of Pets</h1>

    <div class="uk-child-width-1-2@m uk-grid" uk-grid="masonry:true">
        <div th:each="pet : ${pets}">

            <div class="uk-card uk-card-hover">
                <div class="uk-card-body">
                    <a th:href="'/adopter/pet/' + ${pet.id}"><img th:src="${pet.picture}" class="uk-card-media-top" alt="Pet Image"/></a>
                    <div class="uk-margin">
                        <div class="uk-card-media-top uk-width-auto">
                            <label for="name">Name</label>
                            <p id="name" th:text="${pet.name}"></p>
                        </div>
                        <div class="uk-card-media-top uk-width-auto">
                            <label for="description">Description</label>
                            <p id="description" th:text="${pet.description}"></p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>
<div th:replace="partials::scripts" />

<hr/>
<footer th:replace="partials::footer"/>

</body>
</html>