<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="partials::head('Pet Page')"/>
<body>
<nav th:replace="partials :: navbar"/>

    <div class="uk-flex">
      <div class="uk-margin-auto uk-width-1-2@m uk-card uk-card-default uk-card-body">
            <h1 class="uk-card-title" th:text="${pet.name}"/>
            <div class="uk-width-1-2@m">
                <img th:src="${pet.picture}" alt="Picture of Pet"/>
            </div>
            <h3 th:text="'Breed: '+${pet.breed}"/>
            <h3 th:text="'Shelter: ' + ${shelter.name}"/>
            <p th:text="'Age (in years): '+${pet.age}" />
            <p th:text="'Color: '+${pet.color}" />
            <p th:text="'Description: '+${pet.description}" />
            <p th:text="'Sex: '+${pet.sex}" />
            <p th:text="'Weight (in pounds): '+${pet.weight}" />
          <form th:action="@{'/adopt/pet/' + ${pet.getId()}}" method="POST" th:if="${user.getIsShelter() == false}">
              <button type="submit">Put in a application for this pet!</button>
          </form>
      </div>
    </div>

        <!--<div class="uk-grid-divider"/>-->

        <!--<div class="uk-width-1-2@m">-->
            <!--<img th:src="${pet.picture}" alt="Picture of Pet"/>-->
        <!--</div>-->
    <!--</div>-->

<footer th:replace="partials::footer" />
<div th:replace="partials::scripts" />
</body>
</html>