<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials::head('Program')"/>
<body>
<nav th:replace="partials :: navbar"/>

<div class="uk-flex">
        <div class="uk-margin-auto uk-width-1-2@m uk-card uk-card-default uk-card-body uk-text-center">
                <h1 class="uk-card-title uk-text-center" th:text="${program.name}"></h1>
                <h2 class="uk-card-text uk-text-center" th:text="'Location: ' + ${shelter.name}"></h2>
                <p class="uk-card-text uk-text-center" th:text="${program.type}"></p>
                <p class="uk-card-text uk-text-center" th:text="${program.description}"></p>
                <p class="uk-card-text uk-text-center" th:text="${program.time}"></p>
                <p class="uk-card-text uk-text-center" th:text="${program.length} + ' hours'"></p>
                <p class="uk-card-text uk-text-center" th:text="'Breed: ' + ${program.petType}"></p>
                <p>Number of People Signed up: <span th:text="${users.size()}"></span></p>
                <u><p class="uk-card-text uk-text-center">People signed up for this program</p></u>
                <div th:each="user : ${users}">
                    <p class="uk-card-text uk-text-center" th:text="${user.name}"></p>
                </div>
        </div>
</div>


<footer th:replace="partials::footer"/>
<div th:replace="partials::scripts"/>

</body>
</html>