<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials::head('Program')"/>
<body>
<nav th:replace="partials :: navbar"/>

<div class="uk-container">
    <div class="uk-grid" uk-grid="masonry:true">
        <div class="uk-card">
            <div class="uk-card-body">
                <h1 class="uk-card-title" th:text="${program.name}"></h1>
                <h2 class="uk-card-text" th:text="'Location: ' + ${shelter.name}"></h2>
                <p class="uk-card-text" th:text="${program.type}"></p>
                <p class="uk-card-text" th:text="${program.description}"></p>
                <p class="uk-card-text" th:text="${program.time} + ':00 pm'"></p>
                <p class="uk-card-text" th:text="${program.length} + ' hours'"></p>
                <p class="uk-card-text" th:text="'Breed: ' + ${program.petType}"></p>
                <p>People signed up for this program</p>
                <div th:each="user : ${users}">
                    <p class="uk-card-text" th:text="${user.name}"></p>
                </div>
            </div>
        </div>
    </div>
</div>


<footer th:replace="partials::footer"/>
<div th:replace="partials::scripts"/>

</body>
</html>