<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials :: head('Home')"/>
<body>

<nav th:replace="partials :: navbar"/>

<div class="uk-grid uk-margin-auto">
    <!--Buttons-->
    <div class="uk-grid uk-text-center uk-width-1-1">
        <div class="uk-child-width-expand uk-margin-auto">
            <a href="/shelter/createProgram"> <button class="uk-button uk-button-primary uk-animation-slide-left">Create a Program</button></a>
        </div>
        <div class="uk-child-width-expand uk-margin-auto">
            <a href="/adopter/pets"> <button class="uk-button uk-button-primary uk-animation-slide-left">Pet Management</button></a>
        </div>
        <div class="uk-child-width-expand uk-margin-auto">
            <a href="/create/pet"> <button class="uk-button uk-button-primary uk-animation-slide-right">Add Pet</button></a>
        </div>
        <div class="uk-child-width-expand uk-margin-auto">
            <a href="/getvolunteer"> <button class="uk-button uk-button-primary uk-animation-slide-right">New Volunteer Oppurtunity</button></a>
        </div>
    </div>
</div>

<hr/>

<!--Info-->
<div class="uk-child-width-1-2@l uk-grid uk-grid-divider uk-child-width-1-2@s">
    <div class="uk-text-center">
        <div class="uk-card uk-card-default uk-card-body uk-margin-left uk-box-shadow-xlarge uk-animation-fade">
            <h4 class="uk-margin-auto"><u>Applications</u></h4>
            <table class="uk-table uk-table-striped">
                <tr>
                    <th class="uk-text-center">
                        Pet Name
                    </th>
                    <th class="uk-text-center">
                        User Name
                    </th>
                    <th class="uk-text-center">
                        Accept
                    </th>
                    <th class="uk-text-center">
                        Reject
                    </th>
                </tr>
                <div th:each="app : ${apps}">
                    <div th:if="${app.getApprovalStatus() != true}">
                        <tr>
                            <td th:text="${app.getPet().getName()}"></td>
                            <td th:text="${app.getUser().getName()}"></td>
                            <td>
                                <form th:action="'/adopt/' + ${app.getId()} + '/accept/' + ${app.getUser().getId()}"
                                      method="post">
                                    <button class="uk-button uk-button-primary"
                                            onclick="UIkit.notification({message: 'Application Accepted', pos: 'top-center', status: 'success'})">
                                        Accept
                                    </button>
                                </form>
                            </td>
                            <td>
                                <form th:action="'/adopt/' + ${app.getId()} + '/reject/' + ${app.getUser().getId()}"
                                      method="post">
                                    <button class="uk-button uk-button-primary"
                                            onclick="UIkit.notification({message: 'Application Rejected', pos: 'top-center', status: 'success'})">
                                        Reject
                                    </button>
                                </form>
                            </td>
                        </tr>
                    </div>
                </div>
            </table>
            <div>
                <h4><u>Upcoming Volunteer Opportunities</u></h4>
                <table class="uk-table uk-table-striped">
                    <tr>
                        <th class="uk-text-center">
                            Date
                        </th>
                        <th class="uk-text-center">
                            Time
                        </th>
                    </tr>
                    <tr th:each="vol : ${vols}">
                        <td>
                            <a th:href="'/showVolunteers/' + ${vol.id}"><span th:text="${vol.date}"></span></a>
                        </td>
                        <td>
                            <span th:text="${vol.time} + ':00'"></span>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="uk-text-center">
        <div class="uk-card uk-card-default uk-card-body uk-margin-right uk-box-shadow-xlarge uk-animation-fade">
            <h4 class="uk-margin-auto"><u>Programs</u></h4>
            <table class="uk-table uk-table-striped">
                <tr>
                    <th class="uk-text-center">
                        Name
                    </th>
                    <th class="uk-text-center">

                    </th>
                    <th class="uk-text-center">
                        Description
                    </th>
                </tr>
                <tr th:each="program : ${programs}">
                    <td>
                        <a th:href="'adopter/program/'+${program.id}"><span th:text="${program.name}"></span></a>

                    </td>
                    <td>
                        <a th:href="'shelter/program/edit/' + ${program.id}">Edit Program</a>
                    </td>
                    <td class="uk-vertical-align-middle" th:text="${program.description}"></td>
                </tr>
            </table>
        </div>
    </div>
</div>

<hr/>
<footer th:replace="partials :: footer"/>

<div th:replace="partials :: scripts"/>
</body>
</html>