<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace = "partials :: head('Home')"/>
<body>

<nav th:replace="partials :: navbar"/>
<div class="uk-container">
    <div class="uk-grid">
        <!--Buttons-->
        <div class="uk-grid uk-text-center">
            <div class="uk-child-width-expand uk-margin-auto">
                <button class="uk-button uk-button-default"><a href="/shelter/createProgram">Create a Program</a></button>
            </div>
            <div class="uk-child-width-expand uk-margin-auto">
                <button class="uk-button uk-button-default"><a href="/adopter/pets">Pet Management</a></button>
            </div>
            <div class="uk-child-width-expand uk-margin-auto">
                <button class="uk-button uk-button-default"><a href="/create/pet">Add Pet</a></button>
            </div>
        </div>

    </div>


    <!--Info-->
    <div class="uk-grid uk-column-1-3">
        <div class="uk-grid uk-text-center">
            <div class="uk-child-width-expand uk-margin-auto">
               <h2> Applications </h2>
                <table class="uk-table uk-table-striped">
                   <div th:each="applicant : ${applicants}">
                       <tr>
                           <p th:text="$[applicant]"
                       </tr>
                   </div>
                </table>
            </div>
            <div class="uk-child-width-expand uk-margin-auto">
                <button class="uk-button uk-button-default"><a href="/adopter/pets">Pet Management</a></button>
            </div>
            <div class="uk-child-width-expand uk-margin-auto">
                <button class="uk-button uk-button-default"><a href="/create/pet">Add Pet</a></button>
            </div>
        </div>
    </div>
</div>

<hr/>
<footer th:replace="partials :: footer"/>

<div th:replace="partials :: scripts"/>
</body>
</html>