<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials::head('Shelter')"/>
<body>

<nav th:replace="partials::navbar"/>


<div class="uk-container">
    <div class="uk-width-expand uk-text-center">
        <h2 th:text="${shelter.name}"></h2>
        <div class="uk-align-center uk-text-center" id="map"></div>
        <label for="located"> Located at.... </label>
        <h3 th:text="${shelter.location}" id="located"></h3>
    </div>


    <div class="uk-child-width-1-2 uk-grid uk-padding">

        <div class="uk-width-1-2@m">
            <h3> Pets Available </h3>
            <div th:each="pet : ${pets}">
                <div class="uk-card uk-card-body uk-card-default uk-width-1-2 uk-float-left">
                    <h4><a th:href="@{'/adopter/pet/' + ${pet.id}}"> <span class="uk-card-title"
                                                                           th:text="${pet.name}"></span> </a></h4>
                    <p th:text="${pet.description}"></p>
                </div>
            </div>
        </div>


        <div class="uk-width-1-2@m">
            <h3> Programs </h3>
            <div th:each="program : ${programs}">
                <div class="uk-card uk-card-body uk-card-default uk-width-1-2 uk-float-left">
                    <h4><a th:href="@{'/adopter/program/' + ${program.id}}"> <span th:text="${program.name}"></span>
                    </a></h4>
                    <p th:text="${program.description}"></p>
                </div>
            </div>
        </div>

    </div>
</div>

<footer th:replace="partials::footer"/>
<div th:replace="partials::scripts"/>
<script th:inline="javascript">
    var shelter = /*[[${shelter}]]*/ "";
    var map;
    var geocoder;
    var markerLat;
    var markerLong;
    var markerLatandLong;

    function initMap() {
        geocoder = new google.maps.Geocoder();
        map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: -34.397, lng: 150.644},
            zoom: 15
        });
        geocoder.geocode({"address": shelter.location}, function (results, status) {
            if (status == google.maps.GeocoderStatus.OK) {
                map.setCenter(results[0].geometry.location);
                markerLat = results[0].geometry.location.lat();
                markerLong = results[0].geometry.location.lng();
                console.log(markerLat);
                console.log(markerLong);
                startingCoordinates = {lat: results[0].geometry.location.lat, lng: results[0].geometry.location.lat};
                markCord = {lat: markerLat, lng: markerLong};
                var marker = new google.maps.Marker({position: markCord, map: map});
            } else {
                alert("Geocoding was not successful - STATUS: " + status);
            }
        });
    }
</script>
<div th:inline="text"></div>
<script async="async" defer="defer"
        th:src="@{https://maps.googleapis.com/maps/api/js(key=AIzaSyBhrTcCYA3CCFKHGsdILlnuPlWqnsNJU_Q,callback=initMap)}"/>
</body>
</html>