<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace = "partials :: head('Volunteer List')"/>
<body>

<div class="container uk-margin-bottom">
    <nav style="background-color: #CCCCFF" class="uk-navbar-container uk-margin" uk-navbar="mode: click">
        <div class="uk-navbar-center">

            <div><div>
                <ul class="uk-navbar-nav">
                    <li><a href="/adopter/pets">View all pets</a></li>
                </ul>
            </div></div>
            <a class="uk-navbar-item uk-logo" href="#">Pet-tential</a>
            <div class="uk-navbar-right"><div>
                <ul class="uk-navbar-nav">
                    <li><a href="/logout">Logout</a></li>
                    <li><a href="/user_info">Profile</a></li>
                </ul>
            </div></div>

        </div>
    </nav>
</div>

<div class="uk-flex">

    <h1 class="uk-margin-top">List Of Volunteers</h1>
    <div class="uk-child-width-1-2@m uk-grid" uk-grid="masonry:true">
        <div th:each="user : ${users}">

            <div class="uk-card">
                <div class="uk-card-body uk-card-default uk-text-center">
                    <strong><u><label for="name">Name:</label></u></strong>
                    <p th:text="${user.getName()}" class="uk-card-media-top"/>
                    <div class="uk-margin">
                        <div class="uk-card-media-top uk-width-auto">
                            <strong><u><label for="name">Email</label></u></strong>
                            <p id="name" th:text="${user.getEmail()}"></p>
                        </div>
                        <div class="uk-card-media-top uk-width-auto">
                            <strong><u><label for="description">Phone Number</label></u></strong>
                            <p id="description" th:text="${user.getNumber()}"></p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>
<div th:replace="partials::scripts" />

<hr/>
<footer th:replace="partials::footer"/>

</body>
</html>