<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace = "partials :: head('Volunteer List')"/>
<body>

<nav th:replace="partials :: navbar"/>

<div class="uk-text-center">
    <h1 class="uk-margin-top uk-margin-auto">List Of Volunteers</h1>
</div>
<div class="uk-flex uk-text-center">


    <div class="uk-child-width-1-2@m uk-grid uk-width-expand uk-margin-auto">
        <div th:each="user : ${users}">

            <div class="uk-card">
                <div class="uk-card-body uk-card-default uk-text-center">
                    <strong><u><label for="name">Name:</label></u></strong>
                    <p th:text="${user.getName()}" class="uk-card-media-top"/>
                    <div class="uk-margin">
                        <div class="uk-card-media-top uk-width-auto">
                            <strong><u><label for="name">Email</label></u></strong>
                            <p id="name" th:text="${user.getEmail()}"></p>
                        </div>
                        <div class="uk-card-media-top uk-width-auto">
                            <strong><u><label for="description">Phone Number</label></u></strong>
                            <p id="description" th:text="${user.getNumber()}"></p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>
<div th:replace="partials::scripts" />

<hr/>
<footer th:replace="partials::footer"/>

</body>
</html>