<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials::head('User Information')"/>
<body>

<nav th:replace="partials :: navbar"/>

<div class="uk-flex">
    <div class="uk-margin-auto uk-width-1-2@m uk-card uk-card-default uk-card-body" th:object="{user}">
        <h1 class="uk-card-title" th:text="${user.name}"/>
        <h3 th:text="'Email: '+${user.email}"/>
        <h3 th:text="'Shelter: ' + ${user.username}"/>
        <p th:text="'Age (in years): '+${user.number}"/>
        <p th:text="'Color: '+${user.address}"/>
    </div>
</div>



<footer th:replace="partials :: footer"/>

<div th:replace="partials :: scripts"/>
</body>
</html>