<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace = "partials :: head('Pets')"/>
<body>

<nav th:replace="partials :: navbar"/>


  <div class="container">
      <!--TODO: Pass all pets to this page-->
  <div class="row">
   <div class="col-md-4 col-lg-3">
       <div class="card" th:each="pet : ${pets}">
        <div class="card-body">
            <a th:href="'/adopter/pet/' + ${pet.id}"><img th:src="${pet.picture}" class="card-img-top" alt="Pet Image"/></a>
            <h3 class="card-title" th:text="${pet.age}"></h3>
            <p class="card-text" th:text="${pet.description}"></p>
            <p class="card-text" th:text="${pet.sex}"></p>
        </div>
    </div>
   </div>
  </div>
  </div>


<footer th:replace="partials::footer"/>
<div th:replace="partials::scripts"/>

</body>
</html>