<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace = "partials :: head('Home')"/>
<body>

    <nav th:replace="partials :: navbar"/>

    <div class="uk-grid-divider uk-child-width-expand uk-grid">
        <!--Row One-->


                <!--TODO: The controller with the path to this home page need to relay the programs that user has -->
               <div>
                   <table class="uk-table uk-table-striped">
                       <thead>
                           <tr class="card-body">
                               <p>Name</p>
                               <p>Description</p>
                               <p>Location</p>
                           </tr>
                       </thead>
                       <tbody>
                            <tr>
                               <p>TestName</p>
                               <p>TestDescription</p>
                                <p>TestLocation</p>
                            </tr>
                            <tr>
                                <p>TestName</p>
                                <p>TestDescription</p>
                                <p>TestLocation</p>
                            </tr>
                            <tr>
                                <p>TestName</p>
                                <p>TestDescription</p>
                                <p>TestLocation</p>
                            </tr>
                       </tbody>
                   </table>
               </div>


            <!--Column Two: Actions-->
            <div class="uk-margin">

                <!--TODO: Add the appropirate pages and Controllers for the pages-->
                <a href="/adopter/programs"><button class="uk-button uk-button-primary">Join Program</button></a>
                <a href="/adopter/pets"><button class="uk-button uk-button-primary">Find a Pet</button></a>
                <a href="/adopter/preferences"><button class="uk-button uk-button-primary">Preferences</button></a>
            </div>


            <!--Column Three: Nearby Shelters-->
            <div>
                <div class="uk-card uk-card-default">
                    <div class="uk-card-media-top">
                    <!-- google api here -->
                    </div>
                    <div class="uk-card-body">
                        <ul>
                            <!-- list of close shelters -->
                            <li>

                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--ROW TWO END-->

    </div>

    <footer th:replace="partials :: footer"/>

<div th:replace="partials :: scripts"/>
</body>
</html>