<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials::head('Pet Page')"/>
<body>
<nav th:replace="partials :: navbar"/>

<div class="uk-container">
    <h2 th:text="${pet.name}"/>
    <img th:src="${pet.picture}" alt="Picture of Pet"/>
    <h3 th:text="'Breed: '+${pet.breed}"/>
    <h3 th:text="'Shelter' + ${}"
    <p th:text="'Age (in years): '+${pet.age}" />
    <p th:text="'Color: '+${pet.color}" />
    <p th:text="'Description: '+${pet.description}" />
    <p th:text="'Sex: '+${pet.sex}" />
    <p th:text="'Weight (in pounds): '+${pet.weight}" />
</div>
<footer th:replace="partials::footer" />
<div th:replace="partials::scripts" />
</body>
</html>