<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Indiv Post</title>
</head>
<body>
<nav th:replace="partials :: navbar"/>

<div class="container">
    <div class="row text-center" style="margin-bottom: 20px">
        <h2 th:text="${pet.name}" class="underline" />
    </div>
    <div class="row text-center" style="margin-bottom: 20px">
        <h2 th:text="${pet.breed}" class="underline" />
    </div>
    <div class="row text-center" style="margin-bottom: 20px">
        <p th:text="${pet.age}" />
    </div>
    <div class="row text-center" style="margin-bottom: 50px">
        <p th:text="${pet.color}" />
    </div>
    <div class="row text-center" style="margin-bottom: 50px">
        <p th:text="${pet.description}" />
    </div>
    <div class="row text-center" style="margin-bottom: 50px">
        <p th:text="${pet.sex}" />
    </div>
    <div class="row text-center" style="margin-bottom: 50px">
        <p th:text="${pet.weight}" />
    </div>
    <div class="row text-center" style="margin-bottom: 50px">
        <img th:src="${pet.picture}" alt="Picture of Pet"/>
    </div>
    <form th:action="'/adopt/pet/' + ${pet.id}" method="post" >
        <button type="submit">Submit Adoption Request</button>
    </form>
</div>
<footer th:replace="partials::footer" />
<div th:replace="partials::scripts" />
</body>
</html>