<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
</head>
<body>


<form action="adopter/preferences" method="post" th:object="${preference}" >
    <label>Breed</label>
    <input type="text" th:field="*{breed}" />
    <label>Age</label>
    <input type="text" th:field="*{age}" />
    <label>Color</label>
    <input type="text" th:field="*{color}" />
    <label>Sex</label>
    <select th:field="*{sex}">
        <option value="m">Male</option>
        <option value="f">Female</option>
    </select>
    <label>Weight</label>
    <input type="text" th:field="*{weight}" />

    <input type="submit" />
</form>


</body>
</html>