<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials :: head('Edit Program')"/>
<body>
<nav th:replace="partials::navbar"/>
<div class="container uk-flex">

    <form th:action="@{/editProgram}" method="POST" class="uk-margin-auto uk-width-1-2 " th:object="${program}">
        <h1 class="uk-margin-top">Create a Program</h1>
        <div class="uk-margin">
            <label for="name">Name</label>
            <input id="name" class="uk-input uk-form-width-medium uk-width-expand uk-margin-bottom" type="text" th:field="*{name}" />
        </div>

        <div>
            <label for="type">Type</label>
            <input id="type" class="uk-input uk-form-width-medium uk-width-expand uk-margin-bottom" type="password" th:field="*{type}" />
        </div>

        <div>
            <label for="description">Description</label>
            <input id="description" class="uk-input uk-form-width-medium uk-width-expand uk-margin-bottom" type="text" th:field="*{description}" />
        </div>

        <div>
            <label for="length">Length</label>
            <input id="length" class="uk-input uk-form-width-medium uk-width-expand uk-margin-bottom" type="text" th:field="*{length}" />
        </div>

        <div>
            <label for="time">Time</label>
            <input id="time" class="uk-input uk-form-width-medium uk-width-expand uk-margin-bottom" type="text" th:field="*{time}" />
        </div>

        <div>
            <label for="pet type">Pet Type</label>
            <input id="pet type" class="uk-input uk-form-width-medium uk-width-expand uk-margin-bottom" type="text" th:field="*{petType}" />
        </div>
        <button class="uk-button uk-button-default uk-button-small"> Submit </button>
    </form>
</div>


</body>
</html>