<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials :: head('Edit Program')"/>
<body>
<div class="container uk-margin-bottom">
    <nav th:replace="partials :: navbar"/>
</div>
<div class="uk-container uk-flex">

    <form th:action="@{/editProgram}" method="POST" class="uk-margin-auto uk-width-1-2 " th:object="${program}">
        <h1 class="uk-margin-top">Edit your Program</h1>
        <p class="uk-text-center"><span th:if="${editProgram != null}" th:text="${editProgram}">No Results Found</span></p>
        <div class="uk-margin">
            <label for="name">Name</label>
            <input id="name" class="uk-input uk-form-width-medium uk-width-expand uk-margin-bottom" type="text" th:field="*{name}" />
        </div>

        <div>
            <label for="type">Type</label>
            <input id="type" class="uk-input uk-form-width-medium uk-width-expand uk-margin-bottom" type="text" th:field="*{petType}" />
        </div>

        <div>
            <label for="description">Description</label>
            <input id="description" class="uk-input uk-form-width-medium uk-width-expand uk-margin-bottom" type="text" th:field="*{description}" />
        </div>

        <div>
            <label for="length">Length</label>
            <input id="length" class="uk-input uk-form-width-medium uk-width-expand uk-margin-bottom" type="text" th:field="*{length}" />
        </div>

        <div>
            <label for="time">Time</label>
            <input id="time" class="uk-input uk-form-width-medium uk-width-expand uk-margin-bottom" type="text" th:field="*{time}" />
        </div>
        <input type="hidden" name="id" th:value="${id}"/>
        <button class="uk-button-primary uk-button-default uk-button-small"> Submit </button>
    </form>
</div>

<div th:replace="partials :: footer" />
<div th:replace="partials :: scripts" />

</body>
</html>