<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="UTF-8"/>
    <title>Pet-Tential</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.2/css/uikit.min.css" />
    <link rel="icon" href="/img/paw_2.png"/>

<style>

    .image-overlay {
        position: fixed;
        z-index: 9999;
        left: 70vw;
    }

    .nav-overlay {
        position: fixed;
        z-index: 9999;
        width: 100vw;
    }

</style>
</head>
<body>

<div class="uk-hidden@m nav-overlay">
    <nav style="background-color: #CCCCFF" class="uk-navbar-container" uk-navbar="mode: click">
        <ul class="uk-navbar-nav uk-navbar-center">
            <li><a class="nav-link" href="/sign-up">Register</a></li>
            <li class="uk-navbar-item uk-logo" >Pet-tential</li>
            <li><a class="nav-link" href="/login">Login</a></li>
        </ul>
    </nav>
</div>

<a href="/home"><img th:src="@{/img/pettential_login.png}" style="width: 300px; height: 300px" class="image-overlay uk-visible@m"/></a>

    <div class="uk-background-cover uk-light uk-flex uk-flex-top" style="height: 100vh; width: 100vw; background-image: url('/img/landing7.jpg');" uk-parallax="bgy: 200">

        <h1 class="uk-width-1-2@m uk-text-center uk-margin-auto uk-margin-auto-vertical" uk-parallax="opacity: 0,1; y: 100,0; viewport: 0.5">Adopt with ease.</h1>

    </div>

    <div class="uk-background-cover uk-light uk-flex uk-flex-top" style="height: 100vh; width: 100vw; background-image: url('/img/landing2.jpg');" uk-parallax="bgy: 200">

        <h1 class="uk-width-1-2@m uk-text-center uk-margin-auto uk-margin-auto-vertical" uk-parallax="opacity: 0,1; y: 100,0; viewport: 0.5">Introduce a furry-friend.</h1>

    </div>

    <div class="uk-height-large uk-background-cover uk-light uk-flex uk-flex-top" style="height: 100vh; width: 100vw; background-image: url('/img/landing3.jpg');" uk-parallax="bgy: 200">

        <h1 class="uk-width-1-2@m uk-text-center uk-margin-auto uk-margin-auto-vertical" uk-parallax="opacity: 0,1; y: 100,0; viewport: 0.5">Sign up for training programs.</h1>

    </div>

    <div class="uk-height-large uk-background-cover uk-light uk-flex uk-flex-top" style="height: 100vh; width: 100vw; background-image: url('/img/landing4.jpg');" uk-parallax="bgy: 200">

        <h1 class="uk-width-1-2@m uk-text-center uk-margin-auto uk-margin-auto-vertical" uk-parallax="opacity: 0,1; y: 100,0; viewport: 0.5">Find local volunteer opportunities.</h1>

    </div>

    <div class="uk-height-large uk-background-cover uk-light uk-flex uk-flex-top" style="height: 100vh; width: 100vw; background-image: url('/img/landing8.jpg');" uk-parallax="bgy: 200">

        <div class="uk-width-1-2@s uk-text-center uk-margin-auto uk-margin-auto-vertical" uk-parallax="opacity: 0,1; y: 100,0; viewport: 0.5"><a class="uk-text-large" href="/sign-up">Register today!</a></div>

    </div>



    <footer th:replace="partials::footer"/>
    <div th:replace="partials::scripts"/>
</body>
</html>