<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="partials :: head('Login')">
</head>

<body>
<nav th:replace="partials :: navbar"/>
<div class="uk-flex">
    <div class="uk-card uk-card-default uk-card-body uk-margin-auto">
        <form th:action="@{/login}" method="post">
            <h1 class="uk-margin-top">Login</h1>
            <div th:if="${param.error}">
                Invalid Username and Password.
            </div>
            <div th:if="${param.logout}">
                You have been logged out.
            </div>
            <div class="uk-margin">
            <label for="username">Username</label>
            <input id="username" class="uk-input uk-form-width-medium uk-width-expand uk-margin-bottom" name="username" type="text" />
            </div>
            <div>
            <label for="password">Password</label>
            <input id="password" class="uk-input uk-form-width-medium uk-width-expand uk-margin-bottom" name="password" type="password" />
            </div>
            <div class="uk-width-expand uk-flex">
                <button type="submit" class="uk-button uk-button-default uk-margin-auto uk-width-1-2" value="Log In">Log-in</button>
            </div>
        </form>
    </div>
</div>
<div th:replace="partials :: footer"></div>
<div th:replace="partials :: scripts"></div>
</body>
</html>