<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace = "partials :: head('Search')" />
<body>
<nav th:replace="partials::navbar"/>
<div class="uk-margin-auto uk-width-1-2">
    <h1 class="uk-margin-auto">Search</h1>
    <form action="/search" method="post">
        <input name="search" class="uk-input uk-form-width-medium uk-width-expand uk-margin-bottom" type="text"/>
        <button type="submit" class="uk-button uk-button-default uk-button-small">Submit</button>
    </form>

    <h5>Pets that match your search</h5>
    <div th:each="pet : ${pets}">
        <p th:text="${pet.name}"></p>
    </div>

    <h5>Programs that match your search</h5>
    <div th:each="program : ${programs}">
        <p th:text="${program.name}"></p>
    </div>

    <h5>Shelters that match your search</h5>
    <div th:each="shelter : ${shelters}">
        <p th:text="${shelter.name}"></p>
    </div>
</div>
</body>
</html>