<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace = "partials :: head('Search')" />
<body>
<nav th:replace="partials::navbar"/>

<div class="uk-width-1-1 uk-text-center uk-grid">
    <div class="uk-margin-auto">
        <h2><u>Search</u></h2>
    </div>
</div>
<div class="uk-width-1-1 uk-text-center uk-grid">
    <div class="uk-margin-auto">
        <form action="/search" method="post">
            <input name="search" class="uk-input uk-form-width-medium uk-container-center" type="text"/>
            <button type="submit" class="uk-button uk-button-primary">Search</button>
        </form>
    </div>
</div>

<hr />

<div class="uk-grid-divider uk-child-width-expand@s uk-grid">
    <div>
        <div class="uk-text-center">
            <h5 class="uk-margin-auto"><u>Pets that match your search</u></h5>
        </div>
        <div th:each="pet : ${pets}" class="uk-text-center">
            <a th:href="'/adopter/pet/' + ${pet.id}"><h4 class="uk-margin-auto" th:text="${pet.name}"></h4></a>
        </div>
        <p class="uk-text-center"><span th:if="${noResultPet != null}" th:text="${noResultPet}">No Results Found</span></p>
    </div>
    <div>
        <div class="uk-text-center">
            <h5 class="uk-margin-auto"><u>Programs that match your search</u></h5>
        </div>
        <div th:each="program : ${programs}" class="uk-text-center">
            <a th:href="'adopter/program/' + ${program.id}"><h4 class="uk-margin-auto" th:text="${program.name}"></h4></a>
        </div>
        <p class="uk-text-center"><span th:if="${noResultProgram != null}" th:text="${noResultProgram}">No Results Found</span></p>
    </div>
    <div>
        <div class="uk-text-center">
            <h5 class="uk-margin-auto"><u>Shelters that match your search</u></h5>
        </div>
        <div th:each="shelter : ${shelters}" class="uk-text-center">
            <a th:href="'shelter/' + ${shelter.id}"><h4 class="uk-margin-auto" th:text="${shelter.name}"></h4></a>
        </div>
        <p class="uk-text-center"><span th:if="${noResultShelter != null}" th:text="${noResultShelter}">No Results Found</span></p>
    </div>
</div>

</body>
</html>