#map {
    width: 600px;
    height: 300px;
}
nav{
    box-shadow: 5px 5px rgba(0, 102, 204, .2);
}
html {
    background: url("../img/bg_1.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
li a{
    color:#f4429b;
}
li a:hover {
    color: #a02489;
}
.footer {
    position: sticky;
    bottom: 100px;
    left: 45px;
    /*width:100%;*/
    height:100px;   /* Height of the footer */
}