#map {
    width: 800px;
    height: 400px;
    border-width: 1em;
    border-style: double;
    border-color: #a4a4db;
}
nav{
    box-shadow: 5px 5px rgba(0, 102, 204, .2);
}
html {
    background: url("../img/bg_1.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    min-height: 100%;
}
li a{
    color:#f4429b;
}
li a:hover {
    color: #a02489;
}

body {
    margin-bottom:50px;
}

.footer {
    position: relative;
    height: 50px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;

    position: absolute;
    left: 0;
    bottom: 0;
    height: 30px;
    width: 100%;
    overflow: hidden;
}

.set-width{
    width: 500px;
    height: 269px;
}
.uk-button-success{
    background-color: green;
    color: white;
}

.nav_img{
    max-height: 100px;
    max-width: 100px;
}


#map{
    width: 100%;
    border-width: 1em;
    border-style: double;
    border-color: #a4a4db;

.overflow {
    width: 190px;
    wuk-margin-righthite-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}