#map {
    width: 600px;
    height: 300px;
}
nav{
    box-shadow: 5px 5px rgba(0, 102, 204, .2);
}
html {
    background: url("../img/bg_1.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    min-height: 100%;
}
li a{
    color:#f4429b;
}
li a:hover {
    color: #a02489;
}

body {
    margin-bottom:50px;
}

.footer {
    position: relative;
    height: 50px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;

    position: absolute;
    left: 0;
    bottom: 0;
    height: 30px;
    width: 100%;
    overflow: hidden;

}