<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Shelter PROGRAMS PAGE</title>
</head>
<body>
<div class="container uk-margin-bottom">
    <nav th:replace="partials :: navbar"/>
</div>
<form th:action="@{/createProgram}" method="POST" class="uk-margin-auto uk-width-1-2 " th:object="${program}">

<div class="container uk-flex">
    <div>
        <label for="email">Name</label>
        <input id="email" class="uk-input uk-form-width-medium uk-width-expand uk-margin-bottom" type="text" th:field="*{name}" />
    </div>

    <div>
        <label for="password">Type</label>
        <input id="password" class="uk-input uk-form-width-medium uk-width-expand uk-margin-bottom" type="password" th:field="*{petType}" />
    </div>

    <div>
        <label for="name">Description</label>
        <input id="name" class="uk-input uk-form-width-medium uk-width-expand uk-margin-bottom" type="text" th:field="*{description}" />
    </div>

    <div>
        <label for="address">Time</label>
        <input id="address" class="uk-input uk-form-width-medium uk-width-expand uk-margin-bottom" type="text" th:field="*{program.time}" />
    </div>
</div>
</form>

</body>
</html>