<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Shelter PROGRAMS PAGE</title>
</head>
<nav th:replace="partials :: navbar"/>
<body>
<h1>PROGRAM NAME</h1>
<h2>SHELTER NAME</h2>
<form action="createProgram" method="post" th:object="${program}">
    <label for="name">Program name</label>
    <input class="form-control" type="text" id="name" placeholder="Enter Pet Name Here" th:field="*{name}"/>
    <br/>
    <br/>
    <label for="type">Program Type</label>
    <input class="form-control" type="text" id="type" placeholder="Enter Pet Type Here" th:field="*{type}"/>
    <br/>
    <br/>
    <label for="description">Program Description</label>
    <textarea class="form-control" type="text" id="description" th:field="*{description}"/>
    <br/>
    <br/>
    <label for="length">Program Length</label>
    <input class="form-control" type="text" id="length" placeholder="Enter Program Length Here" th:field="*{length}"/>
    <br/>
    <br/>
    <label for="time">Program Time</label>
    <input class="form-control" type="text" id="time" placeholder="Enter Program Time Here" th:field="*{time}"/>
    <br/>
    <br/>
    <label for="petType">Pet type of for Program</label>
    <input class="form-control" type="text" id="petType" placeholder="Enter Program Time Here" th:field="*{petType}"/>
    <br/>
    <br/>
    <label for="shelter">Shelter</label>
    <select id="shelter">
        <div th:each="shelter : ${shelters}">
            <option th:value="${shelter.name}"><span th:text="${shelter.name}"></span></option>
        </div>
    </select>
    <button type="submit" class="btn btn-primary btn-lg">Submit</button>
</form>

</body>
</html>