<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
</head>
<body>

<nav th:replace="partials :: navbar"/>

<form th:action="'/shelter/edit/' + ${shelter.getId()}" method="post" >
    <label>Name</label>
    <input type="text" name="name" th:value="${shelter.getName()}"/>
    <label>Location</label>
    <input type="text" name="location" th:value="${shelter.getLocation()}"/>
    <label>Phone Number</label>
    <input type="text" name="number" th:value="${shelter.getNumber()}"/>
    <label>Email</label>
    <input type="text" name="email" th:value="${shelter.getEmail()}"/>

    <input type="submit" />
</form>


</body>
</html>