<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace = "partials :: head('Home')"/>
<body>

<nav th:replace="partials :: navbar"/>

<div class="container">
    <!--Row One-->
    <div class="row">
        <header th:replace="partials :: header"/>
    </div>

    <!--Row Two: Three columns-->
    <div class="row">
        <!--Column One: Programs-->
        <div class="col-md-4 col-sm-12">

            <!--TODO: Show all adoption applicants here -->
            <div th:each="applicant : ${applicants}">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <h3 class= "card-title"><a th:href=" 'adopter/' + ${adopter.getId()}"><span class="card-link" th:text="${adopter.getName()}"></span></a> </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!--Column Two: Actions-->
        <div class="col-md-4 col-sm-12">

            <!--TODO: Add the appropriate pages and Controllers for the pages-->
            <a href="/create/pet"><button class="btn btn-primary">Create a pet</button></a>
        </div>
    </div>
    <!--ROW TWO END-->

    <!--ROW THREE-->
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <a href="/pets"> <button class="btn btn-primary"> Pet Management</button></a>
        </div>
    </div>

</div>

<footer th:replace="partials :: footer"/>

<div th:replace="partials :: scripts"/>
</body>
</html>