<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<%@ taglib uri="http://java.sun.com/jsp/jstl/core" prefix="c"%>
<head th:replace = "partials :: head"/>
<body>

<nav th:replace="partials :: navbar"/>
<div class="container">
    <!--Row One-->
    <div class="row">

    </div>

    <!--Row Two: Three columns-->
    <div class="row">
        <!--Column One: Programs-->
        <div class="col-md-4 col-sm-12">

            <!--TODO: Show all adoption applicants here -->
            <div th:each="app : ${apps}">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <h1 th:text="${app.getPet().getName()}"></h1>
                            <h1 th:text="${app.getUser().getName()}"></h1>
                            <form th:action="'/adopt/' + ${app.getPet().getId()} + '/accept'" method="post" >
                                <input type="submit"/>
                            </form>
                            <form th:action="'/adopt/' + ${app.getPet().getId()} + '/reject'" method="post" >
                                <input type="submit"/>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!--Column Two: Actions-->
        <div class="col-md-4 col-sm-12">

            <!--TODO: Add the appropriate pages and Controllers for the pages-->
            <a href="/create/pet"><button class="btn btn-primary">Create a pet</button></a>
        </div>
    </div>
    <!--ROW TWO END-->

    <!--ROW THREE-->
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <a href="/adopter/pets"> <button class="btn btn-primary"> Pet Management</button></a>
        </div>
    </div>

</div>

<footer th:replace="partials :: footer"/>

<div th:replace="partials :: scripts"/>
</body>
</html>