<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace = "partials :: head('Home')"/>
<body>

<nav th:replace="partials :: navbar"/>
<div class="container">
    <div class="uk-grid-divider uk-child-width-expand uk-grid">
        <!--Row One-->


        <!--TODO: The controller with the path to this home page need to relay the programs that user has -->
        <div>
            <table class="uk-table uk-table-striped">
                <caption class="uk-margin-auto"><h4>Applications</h4></caption>
                <thead>
                <tr class="card-body">
                    <th>Applicant name</th>
                    <th>Pet name</th>
                    <th>Accept/Reject</th>
                </tr>
                </thead>
                <tbody th:each="app : *{apps}">
                <tr>
                    <td th:text="${app.getPet().getName()}"></td>
                    <td th:text="${app.getUser().getName()}"></td>
                    <td>
                        <form th:action="'/adopt/' + ${app.getPet().getId()} + '/accept'" method="post" >
                            <button type="submit">Accept</button>
                        </form>
                    </td>
                    <td>
                        <form th:action="'/adopt/' + ${app.getPet().getId()} + '/reject'" method="post" >
                            <button type="submit">Reject</button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div>
            <div style="margin-left: 15vh;" class="uk-margin-auto-vertical">
                <!--TODO: Add the appropirate pages and Controllers for the pages-->
                <div class="uk-margin-auto uk-margin-bottom uk-margin-large-top"><a href="/create/pet"><button class="uk-margin-auto uk-width-auto uk-button uk-button-primary">Create pet listing</button></a></div>
                <div class="uk-margin-auto uk-margin-bottom"><a href="/adopter/pets"><button class="uk-margin-auto uk-width-auto uk-button uk-button-primary">Pet Management</button></a></div>
                <div class="uk-margin-auto"><a href="/shelter/createProgram"><button class="uk-margin-auto uk-width-auto uk-button uk-button-primary">Create Program</button></a></div>
            </div>
        </div>


    </div>

    <div class="uk-grid-divider uk-child-width-expand uk-grid">

        <div>
            <table class="uk-table uk-table-striped">
                <caption class="uk-margin-auto"><h4>Programs</h4></caption>
                <thead>
                <tr class="card-body">
                    <th>Program name</th>
                    <th>Edit</th>
                </tr>
                </thead>
                <tbody th:each="program : *{programs}">
                <tr>
                    <td th:text="${program.getName()}"></td>
                    <td>
                        <form th:action="'/shelter/program/edit/' + ${program.getId()}" method="post" >
                            <button type="submit">Edit</button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>



    </div>

</div>

<footer th:replace="partials :: footer"/>

<div th:replace="partials :: scripts"/>
</body>
</html>