<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace = "partials :: head('Here are some pets available!')">
    <div class="container">
        <div class="jumbotron jumbotron-fluid">
            <div class="container" style="background-color: yellow">
                <h1 class="display-4"><strong>Shelters Pets Page</strong></h1>
            </div>
        </div>
    </div>
</head>
<body>

<nav th:replace="partials :: navbar"/>
<header th:replace="partials::header"/>


<form action="/create/pet" method="post" th:object="${pet}" >
    <input class="form-control" type="text" placeholder="Enter Pet name Here" th:field="*{name}"/>
    <br/>
    <br/>
    <input class="form-control" type="text" placeholder="Enter Pet Breed Here" th:field="*{breed}"/>
    <br/>
    <br/>
    <input class="form-control" type="text" placeholder="Enter Pet Age Here" th:field="*{age}"/>
    <br/>
    <br/>
    <input class="form-control" type="text" placeholder="Enter Color of Pet" th:field="*{color}"/>
    <br/>
    <br/>
    <input class="form-control" type="text" placeholder="Enter Weight of Pet" th:field="*{weight}"/>
    <br/>
    <br/>
    <label>Description</label>
    <textarea cols="30" rows="10" th:field="*{description}"></textarea>
    <br/>
    <br/>
    <input class="form-control" type="text" placeholder="Enter link for pets pic" th:field="*{picture}"/>
    <br/>
    <br/>
    <select th:field="*{sex}">
        <option value="m">Male</option>
        <option value="f">Female</option>
    </select>
    <button type="submit" class="btn btn-primary btn-lg">Submit</button>
</form>


<footer th:replace="partials::footer" />
<div th:replace="partials::scripts" />

</body>
</html>