<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials::head"/>
<body>

<nav th:replace="partials::navbar"/>
<header th:replace="partials::header"/>

<div class="container">
    <div class="card">
        <div class="card-body">
            <h2 class="card-title" th:text="${shelter.name}"></h2>
            <p class="card-text" th:text="${shelter.location}"></p>

        </div>
    </div>
</div>

<footer th:replace="partials::footer"/>
<div th:replace="partials::scripts"/>

</body>
</html>