<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">


<!--<div th:fragment="head (title)" >-->
<!--<title><span th:text="${title}"></span></title>-->
<!--</div>-->
<head th:fragment="head(title)">
    <meta charset="UTF-8"/>
    <title th:text="${title}"></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.2/css/uikit.min.css" />
    <style>
        #map {
            width: 600px;
            height: 300px;
        }
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
        li a{
            color:#f4429b;
        }
        li a:hover {
            color: #a02489;
        }
        .footer {
            position:relative;
            bottom:0;
            width:100%;
            height:10px;   /* Height of the footer */
        }
    </style>
</head>

<body>
<div uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky; bottom: #transparent-sticky-navbar uk-margin-bottom">
<nav th:fragment="navbar"  style="background-color: #CCCCFF" class="uk-navbar-container uk-margin" uk-navbar="mode: click">
    <div class="uk-navbar-left">
    <ul class="uk-navbar-nav">
        <li>
            <a class="nav-link" href="/home">Home</a>
        </li>
        <li>
            <a class="nav-link" href="/adopter/pets">View Pets</a>
        </li>
        <!--Logged in users see....-->
        <li sec:authorize="isAuthenticated()">
            <a class="nav-link" href="/logout">Logout</a>
        </li>
        <li sec:authorize="isAuthenticated()">
            <a class="nav-link" th:href="'/adopter/preferences/edit/'+${userId}">Settings</a>
        </li>
        <!--Logged out users see....-->
        <li sec:authorize="!isAuthenticated()">
            <a class="nav-link" href="/login">Login</a>
        </li>
        <li sec:authorize="!isAuthenticated()">
            <a class="nav-link" href="/sign-up">Register</a>
        </li>
    </ul>
    </div>
</nav>
</div>


<div th:fragment="footer">
    <footer class="footer uk-flex">
        <span class="uk-margin-auto">2019 Codeup. For Educational Purposes Only.</span>
    </footer>
</div>

<div th:fragment="scripts">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.2/js/uikit.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.2/js/uikit-icons.min.js"></script>
</div>

</body>
</html>