<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace = "partials :: head('Create Pet')">
    <meta charset="UTF-8"/>
    <title>Create Pet Form</title>
</head>
<body>
<div class="container uk-margin-bottom">
    <nav th:replace="partials :: navbar"/>
</div>


<div class="container uk-flex">

    <form th:action="@{/create/pet}" method="POST" class="uk-margin-auto uk-width-1-2 " th:object="${pet}">
        <h1 class="uk-margin-top">Create a New Pet</h1>
        <div class="uk-margin">
            <label for="breed">Breed</label>
            <input id="breed" class="uk-input uk-form-width-medium uk-width-expand uk-margin-bottom" type="text" th:field="*{breed}" />
        </div>

        <div>
            <label for="color">Color</label>
            <input id="color" class="uk-input uk-form-width-medium uk-width-expand uk-margin-bottom" type="text" th:field="*{color}" />
        </div>

        <div>
            <label for="sex">Sex</label>
            <input id="sex" class="uk-input uk-form-width-medium uk-width-expand uk-margin-bottom" type="text" th:field="*{sex}" />
        </div>

        <div>
            <label for="name">Name</label>
            <input id="name" class="uk-input uk-form-width-medium uk-width-expand uk-margin-bottom" type="text" th:field="*{name}" />
        </div>

        <div>
            <label for="age">Age</label>
            <input id="age" class="uk-input uk-form-width-medium uk-width-expand uk-margin-bottom" type="text" th:field="*{age}" />
        </div>

        <div>
            <label for="weight">Weight</label>
            <input id="weight" class="uk-input uk-form-width-medium uk-width-expand uk-margin-bottom" type="text" th:field="*{weight}" />
        </div>

        <div>
            <label for="shelter">Shelter</label>
            <input id="shelter" class="uk-input uk-form-width-medium uk-width-expand uk-margin-bottom" type="text" th:field="*{shelter}" />
        </div>

        <!--<div>-->
            <!--<label for="user">User</label>-->
            <!--<input id="user" class="uk-input uk-form-width-medium uk-width-expand uk-margin-bottom" type="text" th:field="*{user}" />-->
        <!--</div>-->

        <button class="uk-button uk-button-default uk-button-small"> Submit </button>

    </form>
</div>

<div th:replace="partials :: scripts" />
<div th:replace="partials :: footer" />

</body>
</html>