<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials::head('Shelter')"/>
<body>

<nav th:replace="partials::navbar"/>




<div class="uk-container">
       <div class="uk-width-expand">
           <h3 th:text="${shelter.name}"></h3>
           <label for="located"> Located at.... </label>
           <h3 th:text="${shelter.location}" id="located"></h3>
       </div>



  <div class="uk-grid uk-grid-divider">

        <div class="uk-width-1-2@m">
          <h3> Pets Available </h3>
            <div th:each="pet : ${pets}">
                <div class="uk-card">
                    <div class="uk-card-media-top">
                        <img th:src="${pet.picture}"/>
                    </div>
                    <div class="uk-card-body uk-width-expand">
                        <h4><a th:href="'/adopter/pet/' + pet.id"> <span th:text="${pet.name}"></span> </a> </h4>
                    </div>
                </div>
            </div>
        </div>



          <div class="uk-width-1-2@m">
              <h3> Programs </h3>
            <div th:each="program : ${programs}">
                <div class="uk-card">
                    <div class="uk-card-body uk-width-expand">
                        <h4><a th:href="'/adopter/program/' + program.id"> <span th:text="${program.name}"></span> </a> </h4>
                    </div>
                </div>
            </div>
          </div>

  </div>
    <iframe src="https://calendar.google.com/calendar/b/2/embed?title=List%20of%20Events&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=kcdu3013jq0shm8mc1fo8r9034%40group.calendar.google.com&amp;color=%23333333&amp;ctz=America%2FChicago" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
</div>

<footer th:replace="partials::footer"/>
<div th:replace="partials::scripts"/>

</body>
</html>