<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials :: head('sign-up')">
    <meta charset="UTF-8" />
    <title>Sign up</title>
</head>
<body>
<div class="container uk-margin-bottom">
<nav th:replace="partials :: navbar"/>
</div>
<div class="container uk-flex">


<form th:action="@{/sign-up}" method="POST" class="uk-margin-auto uk-width-1-2 " th:object="${user}">
    <h1 class="uk-margin-top">Create an account</h1>
    <div class="uk-margin">
    <label for="username">Username</label>
    <input id="username" class="uk-input uk-form-width-medium uk-width-expand uk-margin-bottom" type="text" th:field="*{username}" />
    </div>

    <div>
    <label for="email">Email</label>
    <input id="email" class="uk-input uk-form-width-medium uk-width-expand uk-margin-bottom" type="text" th:field="*{email}" />
    </div>

    <div>
    <label for="password">Password</label>
    <input id="password" class="uk-input uk-form-width-medium uk-width-expand uk-margin-bottom" type="password" th:field="*{password}" />
    </div>

    <div>
    <label for="name">Name</label>
    <input id="name" class="uk-input uk-form-width-medium uk-width-expand uk-margin-bottom" type="text" th:field="*{name}" />
    </div>

    <div>
    <label for="address">Address</label>
    <input id="address" class="uk-input uk-form-width-medium uk-width-expand uk-margin-bottom" type="text" th:field="*{address}" />
    </div>

    <div>
    <label for="number">Phone Number</label>
    <input id="number" class="uk-input uk-form-width-medium uk-width-expand uk-margin-bottom" type="text" th:field="*{number}" />
    </div>

    <div>
    <label for="shelter"> Are you a shelter? </label>
    <input type="checkbox" class="uk-checkbox uk-margin-small-left" id="shelter" th:field="*{isShelter}"/>
    </div>
    <div class="uk-width-expand uk-flex">
        <button class="uk-button uk-button-default uk-margin-auto uk-width-1-2" value="Sign me up!" type="submit">Submit</button>
    </div>
</form>

</div>
<div th:replace="partials :: footer" />
<div th:replace="partials :: scripts" />
</body>
</html>