<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Sign up</title>
</head>
<body>
<h1>Create an account</h1>
<form th:action="@{/sign-up}" method="POST" th:object="${user}">
    <label for="username">Username</label>
    <input id="username" th:field="*{username}" />

    <label for="email">Email</label>
    <input id="email" th:field="*{email}" />

    <label for="password">Password</label>
    <input id="password" type="password" th:field="*{password}" />

    <label for="name">Name</label>
    <input id="name" type="text" th:field="*{name}" />

    <label for="address">Address</label>
    <input id="address" type="text" th:field="*{address}" />

    <label for="number">Number</label>
    <input id="number" type="text" th:field="*{number}" />

    <label for="shelter"> Trying to adopt out animals? </label>
    <input type="checkbox" id="shelter" th:field="*{isShelter}"/>

    <input value="Sign me up!" type="submit" />
</form>
</body>
</html>